@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
	margin: 0; 
	font-family: 'Source Sans Pro', sans-serif;
	background: url( ./imagenes/background.jpg );
}
.home {
	position: absolute;
	width: 900px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -450px;
	color: #fff;
	text-align: center;
	background-color: #3e4729;
	border-bottom: 7px solid #88ab0c;
}
.box {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
}
form {
	border-top: 2px solid #88AB0C;
}
.btn {
	margin: 15px 10px;
	padding: 15px 25px;
  	border: 1px solid #f1f1f1;
  	outline: none;
  	box-shadow: none;
  	border-radius: 3px;
}