{% load static %}
<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
  <head>
  <title>Parrilla</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.6/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.6/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="{% static 'emisora/js/example.js' %}"></script>
    <script src="{% static 'emisora/js/helpers.js' %}"></script>
  </head>
  <body>
  <div class="container" >
    <br>
     <nav class="navbar navbar-inverse" style="border-style:hidden;background-color:rgb(125,190,75); ">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar" ></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        
        <div class="navbar-header">
          <a class="navbar-brand" style="color: white;border-right-color: rgb(125,190,75);">
            <h4 style="line-height: 2px">El Bosque Estéreo</h4>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/" style="color: white;border-right-color: rgb(125,190,75)">
            <span class="glyphicon glyphicon-log-in"></span> Acceso Administrativo</a></li>
          <li><a href="/audio/" style="color: white;border-right-color: rgb(125,190,75)">
            <span class="glyphicon glyphicon-headphones"></span> Audio</a></li>
          <li><a href="/parrilla/" style="color: white;border-right-color: rgb(125,190,75)">
            <span class="glyphicon glyphicon-list-alt"></span> Parrilla</a></li>
            <br><br>
          </ul>
        </div>
      </div>
    </nav><br><br>
        <div>
            <h1 id="site-name">
              <h2 href="/admin/" style="color: #576337;">Parrilla de Programación</h2>
            </h1><br>        
         </div>
		  
    
    <div ng-controller="KitchenSinkCtrl as vm">
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>
<center>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" text-center">
      <div class="btn-group">
        <button
          class="btn btn-success"
          mwl-date-modifier
          style="background-color: #7DBE4B"
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Anterior
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Hoy
        </button>
        <button
          class="btn btn-success"
          mwl-date-modifier
          style="background-color: #7DBE4B"
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Siguiente
        </button>
      </div>
    </div>
	<br/>
</div>
    <br class="visible-xs visible-sm">
	
	<div class="row">
    <div class="col-md-6 col-md-offset-3" text-center">
      <div class="btn-group">
        <label class="btn btn-success" style="background-color: #7DBE4B" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
        <label class="btn btn-success" style="background-color: #7DBE4B" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
        <label class="btn btn-success" style="background-color: #7DBE4B" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
        <label class="btn btn-success" style="background-color: #7DBE4B" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Dia</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="00:00"
    day-view-end="23:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <br><br><br>

  <h3 id="event-editor">
    Eventos
    <button
      class="btn btn-success pull-right"
      ng-click="vm.addEvent()">
      Nuevo
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Empieza</th>
        <th>Termina</th>
        <th>Deshabilita</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="event in vm.events track by $index">
        <td>
          <input
            type="text"
            class="form-control"
            ng-model="event.title">
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            ng-model="event.descrip">
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.startsAt"
              is-open="event.startOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.startsAt"
            hour-step="1"
            minute-step="1"
            show-meridian="true">
          </div>
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.endsAt"
              is-open="event.endOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.endsAt"
            hour-step="1"
            minute-step="1"
            show-meridian="true">
          </div>
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.removeAt"
              is-open="event.removeOpen"
              close-text="Close">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'removeOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.removeAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <td>
          <button
            class="btn btn-danger"
            ng-click="vm.events.splice($index, 1)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
  </center>
</div>  
  </body>
</html>