
    <div class="modal fade" id="ProgramasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content ">
            <div class="modal-body">
              <div id="team" class="text-center">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 section-title">
                    <h2>Nuestros Programas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo
                      nibh ante facilisis bibendum dolor apibus lornare diam commodo nibh.</p>
                  </div>
                  <div id="col-md-8  ">
                    <center>
                    <div class="col-md-3 col-sm-6 team">
                      <div class="thumbnail">
                      
                        <div class="caption">
                          <h3>Programa 1</h3>
                          <p>...........</p>
                        </div>
                      </div>
                    </div>                  
                    <div class="col-md-3 col-sm-6 team">
                      <div class="thumbnail">                       
                        <div class="caption">
                          <h3>Programa 2</h3>
                          <p>......</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 team">
                      <div class="thumbnail">                       
                        <div class="caption">
                          <h3>Programa 3</h3>
                          <p>......</p>
                        </div>
                      </div>
                    </div>
                  </center>                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>