<div class="modal fade " id="QuienesSomosModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div id="about">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2 section-title text-center">
                    <h2>Quienes Somos</h2>
                    <p>Somos un grupo de estudiantes encargados de la planeación y desarrollo de la emisora El Bosque Stereo,
                      creada en la materia Ingeniería de Software 2 nocturno de la facultad de Ingeniería de Sistemas de la
                      Universidad El Bosque, liderados por el Profesor Ricardo David Camargo. Nuestro artefacto emplea los
                      temas dictados durante la materia Ingeniería de Software 2, permitiendonos usar patrones de diseño, métricas
                      y tener en cuenta la usabilidad del producto, para que en transcurso del proyecto se asegure la calidad
                      del software a desarrollar.
                      <br>
                      <br>La metodología de desarrollo está basada en scrum, por lo que se creó un rol de líder para cada área
                      de desarrollo (Grupo Administración y perfiles, Grupo Administracion de Categorias y Subcategorias, Grupo
                      de Gestión de Contenidos ,Grupo de Reportes ) por lo que la repartición de tareas por parte del grupos
                      de desarrollo es autogestionada y dirigida por el líder designado. Se discutieron y generaron las historias
                      de usuario para ser validadas con el fin de producir el product backlog, con el cual se diseñaron 3 Sprints
                      de desarrollo para todo el proyecto.Por último el scrum retrospective se realizaba durante 1 hora la
                      semana para revisar el avance de actividades completas y tareas por terminar.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>