@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
  font-family: Roboto;
  background-color: #fff;
  
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /*align-items: center;*/
  /*justify-content: right;*/
}

.player {
  position: absolute;
  top: 80px;
  background-color: #ffffff;
  background-image: url("https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/13903210_1303499679679929_1507477845365535035_n.jpg?_nc_cat=0&oh=fcb7ac747731516cf6bc158a61add3c6&oe=5B7E00EF");
  background-size: 550px;
  background-position-x: 0;
  width: calc(50% - 70px);
  height: 250px;
  border-radius: 3px;
  border-bottom: 6px solid #7DBE4B;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
  right: 70px;
  display: inline-block;
}

.timeline-twitter{
  overflow-y: visible;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 110px);
  width: calc(50% - 70px);
  position: absolute;
  left: 50px;
  top: 80px;
  border-radius: 3px;
  border-bottom: 6px solid #7DBE4B;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: inline-block;
}

.scheduler {
  overflow-y: visible;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 340px;
  background-color: #ffffff;
  background-size: 550px;
  background-position-x: 0;
  width: calc(50% - 70px);
  height: calc(100% - 370px);
  border-radius: 3px;
  border-bottom: 6px solid #7DBE4B;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: inline-block;
  right: 70px;
}

.player:hover .mask {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s;
}
.player .like {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 20px;
  z-index: 15;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 38px;
  color: #f2f2f2;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.player .icon-heart {
  display: block;
}
.player .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  transition: all 1s;
}
.player-info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  list-style: none;
  color: #262626;
  text-shadow: #424242;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.player-info li {
  margin-bottom: 7px;
}
.player-info li:nth-child(1) {
  font-size: 1.5em;
}
.player-info li:nth-child(2) {
  font-size: 1.2em;
}
.player-info li:nth-child(3) {
  font-size: .9em;
}
.player .info-two {
  left: auto;
  right: 4.5%;
  z-index: 1;
  color: #f2f2f2;
}
.player .info-two li:nth-child(2) {
  float: right;
}
.player .info-two li:nth-child(3) {
  display: inline-block;
  float: right;
  clear: both;
}
.player #play-button {
  box-sizing: border-box;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4B732D;
  box-shadow: 0 8px 25px 6px rgba(0, 0, 0, 0.5);
  right: 40px;
  bottom: 90px;
  z-index: 5;
  cursor: pointer;
  transition: all 70ms;
  border: none;
}

.player #play-button:hover {
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
  right: 45px;
  bottom: 95px;
  transition: all 70ms;
}
.player #play-button .icon-play {
  position: absolute;
  font-size: 1.5em;
  left: 52%;
  top: 50%;
  -webkit-transform: translate(-48%, -50%);
          transform: translate(-48%, -50%);
  transition: all 70ms;
  color: #ffffff;
}
.player #play-button:hover .icon-play {
  font-size: 1.2em;
  transition: all 70ms;
}
.player #play-button .icon-cancel {
  position: absolute;
  font-size: 1.6em;
  left: 50%;
  top: 49%;
  -webkit-transform: translate(-50%, -51%);
          transform: translate(-50%, -51%);
  color: #ffffff;
}
.control-row {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 130px;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 3;
}
.control-row #pause-button {
  box-sizing: border-box;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f2f2f2;
  left: 40px;
  bottom: 25px;
  z-index: 5;
  cursor: pointer;
  border: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: none;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.control-row #pause-button .icon-pause {
  position: absolute;
  font-size: 1.5em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .1s;
  color: #424242;
}
.control-row #pause-button .icon-play {
  position: absolute;
  font-size: 1.5em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .1s;
  color: #424242;
}
.control-row .seek-field {
  bottom: 67px;
  left: 148px;
  position: absolute;
  width: 170px;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: none;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.control-row .volume-field {
  bottom: 67px;
  right: 127px;
  position: absolute;
  width: 50px;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: none;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.control-row .volume-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  bottom: 58px;
  right: 185px;
  z-index: 5;
  font-size: 1.2em;
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.control-row .volume-icon .icon-volume-up {
  color: #424242;
}
.like-active {
  color: #ef5350;
  -webkit-animation: scale-animation 0.4s;
          animation: scale-animation 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scale-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-animation {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.waves-animation-one {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4B732D;
  z-index: 3;
  left: 42.5%;
  bottom: 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: waves-animation-one 0.25s;
          animation: waves-animation-one 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  display: none;
}
@-webkit-keyframes waves-animation-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(7.8);
            transform: scale(7.8);
  }
  100% {
    -webkit-transform: scale(7.8);
            transform: scale(7.8);
  }
}
@keyframes waves-animation-one {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    -webkit-transform: scale(7.8);
            transform: scale(7.8);
  }
  100% {
    -webkit-transform: scale(7.8);
            transform: scale(7.8);
  }
}
.waves-animation-two {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4B732D;
  z-index: 3;
  right: 40px;
  bottom: 35px;
  -webkit-transform: scale(7.8);
          transform: scale(7.8);
  display: none;
  -webkit-animation: waves-animation-two 0.2s;
          animation: waves-animation-two 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes waves-animation-two {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes waves-animation-two {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.info-active {
  -webkit-animation: info-active-animation 3s;
          animation: info-active-animation 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .37s;
          animation-delay: .37s;
}
@-webkit-keyframes info-active-animation {
  to {
    bottom: 56.5%;
  }
}
@keyframes info-active-animation {
  to {
    bottom: 56.5%;
  }
}
.play-active {
  -webkit-animation: play-animation 0.3s;
          animation: play-animation 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes play-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  98% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(-200px, 65px);
            transform: translate(-200px, 65px);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(-200px, 65px) scale(0);
            transform: translate(-200px, 65px) scale(0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(0, 65px) scale(1);
            transform: translate(0, 65px) scale(1);
  }
}
@keyframes play-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  98% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(-200px, 65px);
            transform: translate(-200px, 65px);
  }
  99% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(-200px, 65px) scale(0);
            transform: translate(-200px, 65px) scale(0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate(0, 65px) scale(1);
            transform: translate(0, 65px) scale(1);
  }
}
.play-inactive {
  -webkit-animation: play-inactive 1s;
          animation: play-inactive 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes play-inactive {
  from {
    -webkit-transform: translate(0, 65px);
            transform: translate(0, 65px);
  }
}
@keyframes play-inactive {
  from {
    -webkit-transform: translate(0, 65px);
            transform: translate(0, 65px);
  }
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"] + .thumb {
  display: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  background: #f2f2f2;
  border-radius: 0;
  border: 0px solid #000101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f2f2f2;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  background: #f2f2f2;
  border-radius: 0;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
  padding-top: 5px;
}
input[type="range"]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 0;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
}
input[type="range"]::-ms-fill-upper {
  background: #f2f2f2;
  border: 0px solid transparent;
  border-radius: 0x;
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent;
  border: 0px solid transparent;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #009688;
  cursor: pointer;
  margin-top: 1px;
}
input[type="range"]::-ms-tooltip {
  display: none;
}

input[type="range"]::-ms-ticks {
  display: none;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #f2f2f2;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #f2f2f2;
}

/*------------------------------------------------*/
.wrap {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-card {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  background: #FAFAFA;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.material-card:hover {
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.2), 0 8px 18px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.material-card:active {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2), 0 20px 35px 0 rgba(0, 0, 0, 0.2);
}
.material-card:first-child {
  border-top: 2px solid #FFF;
  border-radius: 4.5px 4.5px 0 0;
}
.material-card:last-child {
  border-radius: 0 0 4.5px 4.5px;
}
.material-card.triggered {
  margin: 10px 0 10px 0;
  border-top: 2px solid #FFF;
  border-radius: 4.5px;
  z-index: 2;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2), 0 20px 35px 0 rgba(0, 0, 0, 0.2);
}
.material-card.triggered .material-card-content {
  max-height: 950px;
  padding-top: 10px;
  margin: 20px 0 5px 0;
  visibility: visible;
  overflow: initial;
  opacity: 1;
}
.material-card.triggered .material-card-content .material-card-content-img {
  opacity: 1;
}
.material-card > header {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  outline: 1px solid black;
}

.material-card-icon {
  display: block;
  position: relative;
  width: 80px;
  height: 100%;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 100%;
  background: #FFF;
  overflow: hidden;
  box-sizing: border-box;
  outline: 1px solid black;
}
.material-card-icon.capamerica {
  border: 29px double #C62828;
  color: #0D47A1;
}
.material-card-icon.ironman {
  border: 5px solid #F9A825;
  background: #B71C1C;
  color: #FFF;
}
.material-card-icon.blackwidow {
  border: 5px solid #611F2B;
  background: #222;
  color: #FFF;
}
.material-card-icon i {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.material-card-title {
  display: inline-block;
  width: 290px;
  height: 18px;
  margin: 10px 0 5px 0;
  overflow: hidden;
  font-family: Roboto;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #595959;
}

* {
  outline: none !important;
}

.material-card-info {
  display: inline-block;
  position: relative;
  padding: 5px 5px 5px 0;
  box-sizing: border-box;
  outline: 1px solid black;
  color: #a6a6a6;
}
.material-card-info i {
  font-size: 1.3em;
  margin: 2px 5px 0 0;
  float: left;
}
.material-card-info time {
  display: inline-block;
  margin: 5px 0 0 0;
  font-family: Roboto;
  font-size: 0.9em;
}

.material-card-action {
  display: block;
  position: relative;
  width: 35px;
  height: 100%;
  float: right;
  color: #a6a6a6;
  outline: 1px solid black;
}
.material-card-action a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.material-card-action a i {
  position: relative;
  left: 50%;
  top: 50%;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.material-card-action:hover {
  background: #ededed;
}
.material-card-action.triggered a i {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.material-card-content {
  display: block;
  position: relative;
  max-height: 0px;
  padding: 0 10px;
  margin: 0 0 0 0;
  box-sizing: border-box;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1), overflow 0s linear;
}
.material-card-content .material-card-content-img {
  position: relative;
  width: 450px;
  height: auto;
  margin: 0 0 15px -20px;
  padding: 0 0 0 0;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0.08, 0.14, 0.82);
}
.material-card-content p {
  margin: 0 0 20px 0;
  font-family: "Roboto";
  text-align: justify;
}

.material-card-footer-link {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #d4be00;
  transition: all 0.2s cubic-bezier(0.4, 0.08, 0.14, 0.82);
}
.material-card-footer-link:hover {
  background: #ededed;
}


/*----------------------  Nav Bar  --------------------*/
.navbar{
  width: 80%;
  height: 50px;
  position: fixed;
  top: 15px;
  left: 10%;
  background-color: rgb(125,190,75);
  border-radius: 4px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar h4{
  position: relative;
  left: 10px;
  font-size: 18px;
  font-weight: 300;
}