{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <TITLE>Bosque Estéreo 917.7</TITLE>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'emisora/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'emisora/css/styleinicio.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<BODY >
  <div class="container" >
    <br>
    <nav class="navbar navbar-inverse" style="border-style:hidden;background-color:rgb(125,190,75); ">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar" ></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        
        <div class="navbar-header">
          <a class="navbar-brand" style="color: white;border-right-color: rgb(125,190,75);">
            <h4 style="line-height: 2px">El Bosque Estéreo</h4>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/" style="color: white;border-right-color: rgb(125,190,75)">
            <span class="glyphicon glyphicon-log-in"></span> Acceso Administrativo</a></li><br><br>
          </ul>
        </div>
      </div>
    </nav>
      <blockquote style="border-color: white">
        <div class="row">
          <div class="col-sm-2">
            <div class="col-sm-1" style="font-family: candara;" style="border-color: #003300">
              <h1 style="color:GREEN"><strong> 197</strong><code><strong>,</strong></code><strong>7</strong></h1>
              <a href="" >
                <img src="{% static 'emisora/imagenes/EnVivo.jpg' %}" width="100" height="50"> 
              </a>
            </div>
          </div><br><br>

            <ul class="nav nav-tabs nav-justified">
              <li class="active" ><a href="#">¿Quiénes Somos?</a></li>
              <li><a href="#" style="color:  #003300">Programas</a></li>
              <li><a href="#" style="color:  #003300">Podscast</a></li>
            </ul>
            <br>
        </div>
      </blockquote><br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'emisora/imagenes/music.png' %}" alt="UE" class="MAX" >            
          </div>
          <div class="item">
            <img src="{% static 'emisora/imagenes/music2.jpg' %}" alt="UE2">
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
</BODY>
</html>
