<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  ">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="login">
  <div class="container">
      <br>
      <center>
        <nav class="navbar navbar-inverse" style="border-style:hidden;background-color:rgb(125,190,75)" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="text.html" style="color: white" style="border-right-color: green"><h4 style="line-height: 2px"> El Bosque Estéreo</h4>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="Principal.html" style="color: white;border-right-color: rgb(125,190,75)"><span class="glyphicon glyphicon-log-in">
                </span> Principal</a></li><br><br>
              </ul>
            </div>
          </div>  
        </nav><br><br>
        <blockquote style="border-color: white">
          <div>
            <h1 id="site-name">
              <h2 href="/admin/" style="color: #576337;">Iniciar Sesión</h2>
            </h1><br>        
          </div>
          <div id='content' class="colM" >
            <div id="content-main">
              <form action="">
                <div class="form-row">
                  <input type="text" name="username" required=" id="id_username" autofocus maxlength="254" placeholder="Ingresar usuario">
                </div><br>
                <div class="form-row">
                  <input type="password" name="password" required="id_password" placeholder="Contraseña" >
                  <input type="hidden" name="next" value="/admin/" >
                </div>
                <div class="submit-row"><br>
                  <input type="submit" name="Iniciar Sesión" value="Iniciar Sesión" style="background-color:#CCD6DD;">
                </div>
              </form>
            </div>
            <br class="clear">
          </div>
          <div id="footer"></div>
        </blockquote>
      </center>  
  </div>
</body>
</html>
